<h1>請輸入待辦事項</h1>
<form class="pure-form">
    <input type="text" [(ngModel)]="newItem"/>
    <button class="pure-button" (click)="addItem()">新增</button>
</form>
<input type="checkbox" [(ngModel)]="isDebug"/> 顯示Debug 
<hr>
<div *ngIf="isDebug">
    json result:<br>
    <pre>{{todoList | json}}</pre>
<hr>
</div>
<table class="pure-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let idx = index;let item of todoList">
            <td>{{idx + 1}}</td>
            <td>{{item}}</td>
        </tr>
    </tbody>
</table>